.loginPage{
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  .loginMessage{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .loginForm{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
    input, select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 80%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
  }
}

.dashBoard{
  display: flex;
  flex-direction: column;
  .filtersMenu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
  }
  .mainContent{
    width: 100%;
    flex:1;
    height: 50%;
    display: flex;
    flex-direction: row;
    .cards{
      margin:5px;
      flex:1; 
      background: rgb(200, 250, 205);
      padding: 5px;
      color:rgb(0, 82, 73);

      border-radius: 10px;
    }
  }
  .analyticsWrapper{
    margin: 5px;
    height: 400px;
    padding: 5px;
    .barGraph{
      width: 100%;
    }
  }
 
}

.app {
width: 80%;
min-width: 390px;
height: 90%;
}

.mainApp{
  display: flex;
  flex-direction: row;
  // overflow: auto;
}

.menuItemContainer{
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 767px) {
  .mainApp {
      flex-direction: column;
  }
  .menuItemContainer{
    flex-direction: row;
  }
  .app{
    width: 100vw;
    padding: 10px;
  }
  .menuItemContainer{
    overflow: hidden;
  }
  .loginPage{
    .loginMessage{
      display: none
    }
    .loginForm{
      width: 100%;
    }
  }
  .dashBoard{
   // height: 1200px;
    //overflow: scroll;
    // .filtersMenu{
    //   height: 100px;
    // }
    .mainContent{
    
      flex-direction: column-reverse;
      .cards{
        overflow: auto;
      }
    }
    .analyticsWrapper{
      height: 300px;
      .barGraph{
        padding: 10px;
        // width: 100%;
         height: 300px;
      }
    }
  }
}

.polaroid {
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input,
.span,
.select {
  display: inline-block;
  width: 98%;
  padding: 4px 12px 4px 0;
  margin-bottom: 1px;
  border: 1px dotted transparent;
  transition: background 0.1s ease-in-out, border-color 0.2s ease-in-out;
}

.input,
.select {
  &:hover,
  &:focus {
    background: $color-yellow;
  }

  &:focus {
    border-color: $color-cyan;
  }

  &.white {
    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.invoice-wrapper {
 // position: relative;
  background: #fff;
  padding: 40px 35px;
  box-shadow: 0 0 17px 0 rgba(16, 40, 73, 0.09);
}

.download-pdf {
  position: relative;
  background: 'green';


  &.loading {
    opacity: 0.3;
  }

  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.image {
  position: relative;
  display: inline-block;
}

.image__file {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.image__upload {
  cursor: pointer;
  font-size: 12px;
  color: $placeholder-color;
  background-color: $color-gray;
  border: 2px dashed $placeholder-color;
  display: block;
  width: 100px;
  height: 20px;
  padding: 0;
  outline: none;
  transition: height 0.2s, font-size 0.2s;

  &:focus,
  &:hover {
    height: 100px;
    font-size: 14px;
  }
}

.image__img {
  display: block;
}

.image__change {
  cursor: pointer;
  font-size: 14px;
  color: $placeholder-color;
  background-color: $color-gray;
  border: 2px dashed $placeholder-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;

  &:hover,
  &:focus {
    opacity: 0.95;
  }
}

.image__edit,
.image__remove {
  background: #999 no-repeat center center;
  background-size: 10px 10px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  text-indent: -9999em;
  opacity: 0;
  transition: opacity 0.2s, background-color 0.2s;

  &:hover,
  &:focus {
    background-color: #666;
  }

  .image:hover &,
  .image:focus-within & {
    opacity: 1;
  }
}

.image__edit {
  background-image: url('../images/resize.svg');
  right: 20px;
}

.image__remove {
  background-image: url('../images/remove.svg');
  right: -10px;
}

.image__width-wrapper {
  background-color: $color-white;
  padding: 10px 20px 25px;
  position: absolute;
  width: 270px;
  top: -70px;
  left: 0;
  border-radius: 4px;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.15);
}

.ag-header-icon.ag-header-cell-menu-button {
  opacity: 1 !important;
}